@charset "UTF-8";

footer{
    margin: auto;
    margin-top: 80px;
    padding: 5% 5%;
    box-shadow: 0 0 40px 10px rgba(255, 255, 255, 0.139);
    background-color: black;
    color: white;
    text-align: center;
}

footer .logo-footer{
  display: flex;
  flex-direction: column;
}

.logo-footer svg{
  margin-top: 10px;
  margin-right: 13px;
}

footer .logo-footer svg{
  cursor: pointer;
}

footer .line-footer{
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

@media (min-width: 1024px) {
  footer .line-footer{
    flex-direction: row;
  }
}

.container-footer h2{
    text-align: center;
}

.container-footer p{
    padding-top: 10px;
    font-size: 1.2em;
}

.container-footer iframe{
    border-radius: 20px;
    padding-top: 15px;
}

.container-footer p a{
    color: white;
    text-decoration: none;
}

.container-footer p a:hover{
    text-decoration: underline;
}