@charset "UTF-8";

/* ESTILO GERAL */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  background-color: #CFCFCF;
  height: 100vh;
}

.btn-fixo{
    position: fixed;
    bottom: 20px;
    padding-bottom: 10px;
    right: 10px; 
    font-size: 2.3em;
    height: 76px;
    width: 70px;
    border-radius: 50%; 
    padding: 10px;
    margin-right: 10px;
    background: linear-gradient(87deg, #36990F 6.82%, #174a04 102.99%);
    box-shadow: 7px 9px 62.9px 0px rgba(43, 123, 12, 0.40);
    color: #fff;
    border: none;
    cursor: pointer;
    z-index: 999;
    transition: .2s;
    animation: flutuar 0.6s ease-in-out infinite alternate;
}

html{
  scroll-behavior: smooth;
}

a{
    text-decoration: none;
    font-style: normal;
    color: white;
}

/* Header */
.header {
  padding: 8%;
  background-image: url('empresario-trabalhando-no-escritorio_23-2148377745.webp');
  background-repeat: no-repeat;
  width: 100%;
  height: 100;
  background-size: cover;
  color: white;
  background-position: center;
}

@media (min-width: 1024px) {
  .header {
    padding: 5%;
    background-position: left;
  }
}

/* Nav */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Nav List */
.nav-list {
  display: none;
  list-style: none;
  font-size: 1.6em;
  font-weight: 600;
  gap: 27px;
}

@media (min-width: 1024px) {
  .nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.nav-item {
  transition: transform 0.3s;
}

.nav-item:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/* Hero Section */
.hero-section {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.75rem;
  width: 100%;
  height: 100%;
}

.hero-title{
  line-height: 1.2;
  width: 280px;
  font-family: 'inter', bold;
}



@media (min-width: 1024px) {
  .hero-title {
    font-size: 2.6em;
    width: 800px;
  }
}

.highlight {
  color: #C99B49;
}

.hero-description {
  font-weight: 400;
  font-size: 17px;
  width: 300px;
}

@media (min-width: 1024px) {
  .hero-description {
    font-size: 21px;
    width: 700px;
  }
}

/* Botão */
.bt-especialista {
    font-size: 22px;
    padding: 19px 37px;
    gap: 10px;
    border-radius: 8px;
    background: linear-gradient(87deg, #36990F 6.82%, #081902 102.99%);
    box-shadow: 7px 9px 62.9px 0px rgba(43, 123, 12, 0.40);
    font-weight: bolder;
    font-family: 'inter';
    transition: transform 0.2s ease-in-out;
    display: flex;
    align-items: center;
    color: white;
    cursor:pointer;
}

.bt-especialista:hover{
    transform: scale(1.05);
}

@media (min-width: 1024px) {
  .button-text {
    font-size: 20px;
  }
}

/*SERVICE*/

#sobre-scdec {
    margin-top: 20px;
    padding: 5%;
    display: flex;
    justify-content: center;
    gap: 170px;
    flex-wrap: wrap;
    margin: 20px 25px;
}

/* Texto do Edimar */
.flex-edimar p {
    font-style: italic;
    font-size: 18px;
}

/* Bloco de texto da SCDEC */
.text-scdec {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 25px;
    max-width: 100%;
    align-items: center;
    justify-content: center;
}


.text-scdec h1 {
  font-family: 'Barlow', bold;
  font-size: 2.4em;
  color: #214142;
}

.text-scdec ul li{
  font-size: 0.9em;
  padding-top: 50px;
}

.flex ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* Título "SCDEC" */
#scdec {
    color: #92521D;
    font-size: 70px;
    font-weight: bolder;
}

/* Responsivo para tablets e desktop */
@media (min-width: 1024px) {
  #sobre-scdec {
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 170px;
    justify-content: space-between;
  }

  .text-scdec {
    align-items: flex-start;
  }

  .text-scdec p {
    text-align: justify;
  }
}

/* RESPONSIVIDADE para CELULARES */
@media (max-width: 768px) {
  #sobre-scdec {
    flex-direction: column;
    gap: 40px;
    padding: 5%;
  }

  #edimar {
    padding: 20px;
    flex-direction: column;
    text-align: center;
  }

  .flex-edimar p {
    font-size: 14px;
  }

  .text-scdec {
    font-size: 20px;
    gap: 20px;
  }

  .text-scdec p {
    font-size: 18px;
    width: 100%;
  }

  #scdec {
    font-size: 45px;
    text-align: center;
  }
}

#mulherfrontal{
  width: 300px;
}

@media (min-width: 1024px) {
  #mulherfrontal{
    width: 400px;
  }  
}

.box-informate{
  margin-top: 40px;
  padding: 20px;
}

.box-informate .bt-especialista{
  font-size: 1.3em;
}

.container-bpc{
  display: flex;
  gap: 40px;
  padding: 3%;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}

.box-informate h1{
  text-align: center;
  font-family: 'Barlow', bold;
  color: #214142;
  font-size: 2.7em;
  padding-bottom: 25px;
}

.box-bpc{
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #214142;
  align-items: center;
  color: white;
  padding: 45px 0px;
  border-radius: 10px;
  text-align: center;
}

.container-bpc .box-bpc h2{
  font-size: 1.6em;
  width: 250px;
}

.box-bpc p{ 
  width: 350px;
}

.extra{
  margin-top: 40px;
  height: auto;
  background-image: url('empresario-trabalhando-no-escritorio_23-2148377745.webp');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  background-position: center;
}

.container-extra{
  display: flex;
  width: 100%;
  padding: 6%;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


@media (min-width: 1024px){
  .container-extra p{
  width: 800px;
  padding-top: 15px;
  }

  .container-extra{
    padding: 1.5%;
  }

  .extra .container-extra h1{
    font-size: 2.5em;
  }
}

.extra .container-extra h1{
  font-family: 'barlow';
  color: white;
  font-size: 2.1em;
}

.flex-mike{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}


.flex-mike img{
  border-radius: 50%;
  width: 350px;
}

@media (min-width: 1024px){
  .flex-mike{
    justify-content: space-between;
  }

  .flex-mike img{
    width: 500px;
  }
}

.sobre-mike{
  margin-top: 40px;
  padding: 5%;
  width: 100%;
}

.mike-text button{
  margin-top: 60px;
}

.mike-text h1{
  font-size: 2.5em;
  margin-bottom: 50px;
  color: #203F40;
  font-family: 'Barlow', bold;
  font-style: italic;
}


.mike-text h1 strong{
  font-family: 'Barlow';
  font-weight: lighter;
  font-size: 0.8em;
}

.mike-text p{
  font-size: 1.5em;
  width: 325px;
}

@media (min-width: 1024px){
  .mike-text p{
    width: 400px;
  }
}



/*FOOTER*/
footer{
    margin: auto;
    margin-top: 80px;
    padding: 5% 5%;
    box-shadow: 0 0 40px 10px rgba(255, 255, 255, 0.139);
    background-color: black;
    color: white;
    text-align: center;
}

footer .logo-footer{
  display: flex;
  flex-direction: column;
}

.logo-footer svg{
  margin-top: 10px;
  margin-right: 13px;
}

footer .logo-footer svg{
  cursor: pointer;
}

footer .line-footer{
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

@media (min-width: 1024px) {
  footer .line-footer{
    flex-direction: row;
  }
}

.container-footer h2{
    text-align: center;
}

.container-footer p{
    padding-top: 10px;
    font-size: 1.2em;
}

.container-footer iframe{
    border-radius: 20px;
    padding-top: 15px;
}

.container-footer p a{
    color: white;
    text-decoration: none;
}

.container-footer p a:hover{
    text-decoration: underline;
}